Pod::Spec.new do |spec|

  spec.name         = "libpag-enterprise"
  spec.version  = '__SDK_VERSION__'
  spec.summary      = "libpag-enterprise."

  spec.homepage     = "https://github.com/libpag/pag-enterprise-ios"
  spec.license      = { :type => "Apache License, Version 2.0", :file => "LICENSE" }
  spec.author = {'libpag' => 'libpag@tencent.com'}
  spec.platform     = :ios, "9.0"
  spec.source       = { :git => "https://github.com/libpag/pag-enterprise-ios.git",  :tag => spec.version.to_s }

  spec.frameworks = ['UIKit', 'CoreFoundation', 'QuartzCore', 'CoreGraphics', 'CoreText', 'OpenGLES', 'VideoToolbox', 'CoreMedia', 'AudioToolbox']

  spec.libraries = ["iconv", "compression"]

  spec.xcconfig = {
   'VALID_ARCHS' =>  'arm64 x86_64'
  }

  # 默认/常规版（不选 subspec 时）
  spec.vendored_frameworks = 'framework/libpag.xcframework'

  # 变体: movie（含 FFMovie）
  spec.subspec 'Movie' do |m|
    m.vendored_frameworks = ['framework/movie/libpag.xcframework', 'framework/movie/FFMovie.xcframework']
  end

  # 变体: noencrypt（无加密二进制）
  spec.subspec 'NoEncrypt' do |ne|
    ne.vendored_frameworks = 'framework/noencrypt/libpag.xcframework'
  end

end
